@font-face {
    font-family: Kaelia;
    src: url(../fonts/Kaelia/TTF/KaeliaRegular.ttf);
}
@font-face {
    font-family: Kaelia-bold;
    src: url(../fonts/Kaelia/TTF/KaeliaBold.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;



}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

header{
    width: 100%;
}
#menu-container {
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 350px;
    height: 100vh;
    z-index: 99;
    top: 0;
    background-color: white;
    padding-top: 50px;
    transform: translateX(-350px);
    transition: 0.3s;
}
@media (max-width: 767px) {
    #menu-container {
        width: 280px;
    }
}
#menu-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000a3;
    z-index: 99;
}
#menu-container .close-btn {
    position: absolute;
    width: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#menu-container a {
    font-family: Lato;
    text-decoration: none;
    color: #413026;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    transition: 0.2s;
}
#menu-container a:hover {
    color: #ED8A19;
}
#menu-container a.active {
    color: #ED8A19;
}
#menu-container hr {
    width: 90%;
    height: 1px;
    background-color: #c4c4c4;
    border: none;
}
.top-bar {
    position: relative;
    display: block;
    padding: 15px 0;
}
.top-bar .close-btn {
    position: absolute;
    width: 22px;
    right: 6px;
    bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}
@media (max-width: 767px) {
    .top-bar .close-btn {
        bottom: 20px;
        width: 20px;
    }


}
.top-bar h2 {
    font-family: Lato;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    word-spacing: 5px;
    margin: 0;
}
@media (max-width: 767px) {
    .top-bar h2 {
        font-size: 13px;
    }
}
.header {
    background-color: #e8e9e5;
    padding: 30px 150px 30px 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #a7a8a4;
}
@media (max-width: 767px) {
    .header {
        justify-content: space-between;
        padding: 20px 10px;
    }
}
@media (min-width: 768px) and (max-width: 1700px) {
    .header {
        padding: 25px;
    }
}

  

.header .menu-search {
    display: flex;
    align-items: center;
    gap: 25px;
}
@media (max-width: 767px) {
    .header .menu-search {
        gap: 20px;
    }
}
.header .menu-search img:first-of-type {
    width: 28px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .header .menu-search img:first-of-type {
        width: 23px;
    }
}
.header .menu-search img:last-of-type {
    width: 28px;
    cursor: pointer;
}
.header .language-switch {
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 1000px) {
    .header .language-switch {
        display: none;
    }
}
.header .language-switch h3 {
    font-family: Kaelia;
    font-size: 23px;
    color: #413026;
    cursor: pointer;
    transition: 0.2s;
}
.header .language-switch h3:last-of-type {
    color: #ED8A19;
}
.header .language-switch h3:hover {
    color: #ED8A19;
}
.header a img {
    width: 400px;
}
@media (max-width: 767px) {
    .header a img {
        width: 200px;
    }
}
.header .currency-switch {
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 1000px) {
    .header .currency-switch {
        display: none;
    }
}
.header .currency-switch h3 {
    font-family: Kaelia;
    font-size: 23px;
    color: #413026;
    cursor: pointer;
    transition: 0.2s;
}
.header .currency-switch h3:hover {
    color: #ED8A19;
}
.header .currency-switch h3:first-of-type::after {
    content: "/";
    margin-left: 15px;
    color: #413026;
}
.header .currency-switch h3:first-of-type {
    color: #ED8A19;
}
.header .user-box {
    display: flex;
    gap: 25px;
}
@media (max-width: 767px) {
    .header .user-box {
        gap: 20px;
    }
}
.header .user-box i {
    font-size: 23px;
    color: #413026;
    cursor: pointer;
    transition: 0.2s;
}
@media (max-width: 767px) {
    .header .user-box i {
        font-size: 18px;
    }
}
.header .user-box i:hover {
    color: #ED8A19;
}
@media (max-width: 999px) {
    .header .language-switch-mob {
        font-family: Kaelia;
        position: fixed;
        bottom: 60px;
        left: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }
    .header .language-switch-mob h3 {
        margin: 0;
        font-size: 18px;
        background-color: gray;
        color: white;
        padding: 15px;
        cursor: pointer;
        border-radius: 0px 15px 15px 0px;
    }
    .header .language-switch-mob h3:first-of-type {
        background-color: gray;
        padding: 15px;
        border-radius: 0px 15px 15px 0px;
        color: white;
    }
    .header .currency-switch-mob {
        font-family: Kaelia;
        position: fixed;
        bottom: 200px;
        left: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
    }
    .header .currency-switch-mob h3 {
        margin: 0;
        font-size: 15px;
        background-color: gray;
        color: white;
        padding: 15px;
        cursor: pointer;
        border-radius: 0px 15px 15px 0px;
    }
    .header .currency-switch-mob h3:first-of-type {
        background-color: gray;
        padding: 15px;
        border-radius: 0px 15px 15px 0px;
        color: white;
    }
}
@media (min-width: 1000px) {
    .header .language-switch-mob,
    .header .currency-switch-mob {
        display: none;
    }
}
.slide {
    position: relative;
    background-image: url(../imgs/cover.jpeg);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
@media (max-width: 767px) {
    .slide {
        background-size: auto;
        height: 500px;
        background-position: center;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .slide {
        background-position: center;
        height: 600px;
    }
}
.slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2f2f2f94;
}
.slide h2 {
    font-family: Kaelia-bold;
    position: relative;
    font-weight: 700;
    font-size: 80px;
    margin: 0;
    color: white;
    padding-left: 150px;
}
@media (max-width: 767px) {
    .slide h2 {
        font-size: 50px;
        padding-left: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .slide h2 {
        padding-left: 85px;
        font-size: 65px;
    }
}
.slide a {
    font-family: Kaelia-bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #000000c9;
    padding: 20px 45px;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 20px;
    transition: 0.3s;
}
@media (max-width: 767px) {
    .slide a {
        margin: 25px 20px;
        padding: 18px 30px;
    }
}
@media (min-width: 768px) and (max-width: 1100px) {
    .slide a {
        margin: 25px 85px;
        font-size: 17px;
        padding: 20px 45px;
    }
}

@media (max-width:480px){
    .outline-img{
        width: 35px;
        height: 35px;
    }

    .cart-home-img{
        width: 35px;
        height: 35px;
    }
}



