<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muse Beauty</title>
    <link rel="stylesheet" href="../assets/CSS/header.css">
    <link rel="stylesheet" href="../assets/CSS/global.css">
    <script src="../assets/JS/menu.js" defer></script>
    <script src="../assets/JS/buttonToggles.js"></script>

</head>

<body>
    <div class="free-shipping">FREE  SHPPING  ON  ORDERS  550  SAR  OR  OVER</div>
<header>
    <div class="head-left">
        <button class="btn-head-left hamburger">
            <img class="head-img" src="../assets/images/hamburger.png" alt="hamburger">
            <button  class="btn-head-left"><img src="../assets/images/search.png" alt="search"></button>

          </button>
          <!-- hamburger navigation panel -->
          <div class="side-nav">
            <button class="close-btn"><img src="../assets/images/close.png" alt=""></button>
            <a href="" class="side-btn">Home</a>
            <a href="" class="side-btn">Products</a>
            <a href="" class="side-btn">About</a>
            <a href="" class="side-btn">Contact</a>
            <div>
                <button class="btn-head-right curr-btn side-nav-curr">USD</button>
                <button class="btn-head-right curr-btn side-nav-curr">SAR</button>
            </div>
            
          </div>
          
        <button  class="btn-head-left lan-btn">AR</button>
        <button  class="btn-head-left lan-btn">EN</button>
    </div>

    <img class="title" src="../assets/images/title.png" alt="Ttitle image">
    
    <div class="head-right">
        <button class="btn-head-right curr-btn">USD</button>
        <h1>/</h1>
        <button class="btn-head-right curr-btn">SAR</button>
        <button class="btn-head-right"><img src="../assets/images/outline.png" alt="outline"></button>
        <button class="btn-head-right"><img src="../assets/images/cart.png" alt="cart"></button>
    </div>

</header>
</body>
</html>