<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muse Beauty</title>
    <link rel="stylesheet" href="../assets/CSS/header.css">
    <link rel="stylesheet" href="../assets/CSS/global.css">
    <script src="../assets/JS/buttonToggles.js"></script>

</head>
<div class="free-shipping">FREE  SHPPING  ON  ORDERS  550  SAR  OR  OVER</div>
<header>
    <div class="head-left">
        <button  class="btn-head-left"><img src="../assets/images/hamburger.png" alt="hamburger"></button>
        <button  class="btn-head-left"><img src="../assets/images/search.png" alt="search"></button>
        <button  class="btn-head-left lan-btn">AR</button>
        <button  class="btn-head-left lan-btn">EN</button>
    </div>

    <img class="title" src="../assets/images/title.png" alt="Ttitle image">
    
    <div class="head-right">
        <button class="btn-head-right curr-btn">USD</button>
        <h1>/</h1>
        <button class="btn-head-right curr-btn">SAR</button>
        <button class="btn-head-right"><img src="../assets/images/outline.png" alt="outline"></button>
        <button class="btn-head-right"><img src="../assets/images/cart.png" alt="cart"></button>
    </div>

</header>
<body>
    
</body>
</html>