<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/header.css">
    <title>Muse Beauty</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<header>
<body>
    <div id="menu-overlay"></div>
    <div id="menu-container">
        <a class="active" href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">FAQS</a>
        <a href="#">Contact Us</a>
        <hr>
    </div>
    <div class="top-bar">
        <img class="close-btn" src="imgs/close.svg" alt="">
        <h2>FREE SHPPING ON ORDERS 550 SAR OR OVER</h2>
    </div>
    <div class="header">
        <div class="menu-search">
            <img class="menu-toggle" src="imgs/menu-bar.svg" alt="">


            <div class="search-container">
                <input type="text" class="search-input" id="search" placeholder="Search..." onkeyup="filterResults()">
                <span class="search-icon">🔍</span>
                <div class="results" id="results"></div>
            </div>
        </div>
        <div class="language-switch">
            <h3>AR</h3>
            <h3>EN</h3>
        </div>
        <a href="#">
            <img src="/assets/images/title.png" alt="">
        </a>
        <div class="currency-switch">
            <h3>USD</h3>
            <h3>SAR</h3>
        </div>
        <div class="user-box">
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="language-switch-mob">
            <h3>AR</h3>
            <h3>EN</h3>
        </div>
        <div class="currency-switch-mob">
            <h3>USD</h3>
            <h3>SAR</h3>
        </div>
    </div>
</header>
</body>
</html>